﻿
@using PagedList;
@using PagedList.Mvc;

@model IPagedList<Nimap_Asignment_Codefirst.Models.Category>

@{
    ViewBag.Title = "CategoryList";
}

<h2>CategoryList</h2>

<p>
    @Html.ActionLink("Create New", "CategoryCreate")
</p>
@using (Html.BeginForm("CategoryList", "Category", FormMethod.Get))
{
    <div class="glyphicon-search">

        <b>Search By Category Name </b>&nbsp; &nbsp;@Html.TextBox("search")&nbsp; &nbsp; &nbsp; &nbsp;
        <input type="submit" value="Search" class="btn-info" />
    </div>
}
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().CategoryName)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.First().CreatedBy)
            </th>*@
        <th>

            @Html.DisplayNameFor(model => model.First().UserId)
        </th>
        <th>

            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
        using (Html.BeginForm("CategoryDelete", "Category", new
        {
            id = item.CategoryId
        }, FormMethod.Post))
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>*@
                <td>
                        @Html.DisplayFor(modelItem => item.User.UserName)
                    </td>
                <td>
                    @Html.ActionLink("Edit", "CategoryEdit", new { id = item.CategoryId }) |
                    @Html.ActionLink("Details", "CategoryDetails", new { id = item.CategoryId }) |

                    <input type="submit" value="Delete" onclick="return confirm('Are You Sure You Want To Delete @item.CategoryName  ?')" />
                </td>
            </tr>
        }
    }

</table>


<script type="text/javascript">
    $(function () {
        $("#pageSize").change(function () {

            $("#form1").submit();
        });
    });
</script>
<div>
    @using (Html.BeginForm("CategoryList", "Category", FormMethod.Get, new { id = "form1" }))
    {
        <div class="pull-right">
            Page Size: @Html.DropDownList("pageSize")

        </div>


        @Html.PagedListPager(Model,
            page => Url.Action("CategoryList", new { page, search = Request.QueryString["search"], pageSize = ViewBag.psize }
        ), new PagedListRenderOptions()
        {

        Display = PagedListDisplayMode.IfNeeded,
        DisplayItemSliceAndTotal = true,
        DisplayPageCountAndCurrentLocation = true

        })


    }
</div>

