﻿@model Nimap_Asignment_Codefirst.Models.Category

@{
    ViewBag.Title = "CategoryDetails";
}

<h2>CategoryDetails</h2>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CategoryEdit", new { id = Model.CategoryId })
    @Html.ActionLink("Back to List", "CategoryList")
</p>
