﻿@{
    ViewBag.Title = "Import From Excel";
    var mss = ViewBag.error;
    var res = ViewBag.Result;
}
<h2>
    Upload Excel File for Products
</h2>
@if (mss != null)
{
    <h5>@mss</h5>
}
else if(res != null)
{
    <h1>@res</h1>
}
<div>
    <fieldset>

        @using (Html.BeginForm("ImportFromExcel", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary();
            <div>
                <input type="file" name="postedFile" />
                <br />

                <input type="submit" id="upload" value="Upload Bulk Product" class="btn-info" />
            </div>
        }
    </fieldset>
</div>

<div>
    @Html.ActionLink("Back To List", "ProductList", "Product")
</div>

@section scripts{

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script>
        $("#upload").click(function () {
            debugger;
            if (window.FormData == undefined)
                alert("Error: FormData is undefined");

            else {
                var fileUpload = $("#postedFile").get(0);
                var files = fileUpload.files;

                var fileData = new FormData();

                fileData.append(files[0].name, files[0]);

                $.ajax({
                    url: '/Product/ImportFromExcel',
                    type: 'post',
                    datatype: 'json',
                    contentType: false,
                    processData: false,
                    async: false,
                    data: fileData,
                    success: function (response) {
                        alert(response);
                    }
                });
            }

        });
    </script>

}
