﻿@model Nimap_Asignment_Codefirst.ViewModels.MultipleImagesModel

@{
    ViewBag.Title = "MultipleImages";
     
}

<h2>MultipleImages</h2>

@using (Html.BeginForm("MultipleImages", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.multipleImgs, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="multipleImgs" id="images" multiple required />

                @Html.ValidationMessageFor(model => model.multipleImgs, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-default" />
            </div>
        </div>
    </div>



}
<div>
    @Html.ActionLink("Back To List", "ProductList", "Product")
</div>


