﻿@using PagedList;
@using PagedList.Mvc
@model IPagedList<Nimap_Asignment_Codefirst.Models.Product>
@{
    ViewBag.Title = "ProductList";
    var viewdata = ViewData["viewDataDict"];
    //var DDsize =ViewBag.PageSize as IEnumerable<SelectListItem>;
   
    //var trueList = ViewBag.catFilter as List<Nimap_Asignment_Codefirst.ViewModels.CategoryVM>
    var sess = HttpContext.Current.Session["CatFilter"] as List<Nimap_Asignment_Codefirst.ViewModels.CategoryVM>;

}
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<h2>ProductList</h2>

@if (HttpContext.Current.Session["UserName"] != null)
{ 
    <div class="pull-right">

        <i class="glyphicon-shopping-cart">@Html.ActionLink("Cart " + Session["count"] + "", "MyOrder", "ShoppingCart")</i>

    </div>
}

    @if (HttpContext.Current.Session["UserName"] == null)
    {
        <p>
            @Html.ActionLink("Create New", "ProductCreate")
        </p>
    }
    <br />
    <!-- #region Search Bar -->
    <div>
        @using (Html.BeginForm("ProductList", "Product", FormMethod.Get))
        {
            <div class="glyphicon-search">

                <b>Search By Product Name </b>&nbsp; &nbsp;@Html.TextBox("search")&nbsp; &nbsp; &nbsp; &nbsp;
                <input type="submit" value="Search" class="btn-info" />
            </div>
        }
    </div>
    <!-- #endregion -->
    <br />
    <!-- #region Multiple Image , Import Excel and Page Size DRopDown -->

    <div class="col-md-12">
        @if (HttpContext.Current.Session["UserName"] == null)
        {
            <div class="col-md-8">
                <fieldset class="pull-left">
                    @Html.ActionLink("Multiple Images Upload", "MultipleImages", "Product", null, new { @class = "btn btn-info" })
                    @Html.ActionLink("Import From Excel", "ImportFromExcel", "Product", null, new { @class = "btn btn-info" })
                </fieldset>
            </div>
        }
        <div class="col-md-3 text-primary pull-right">
            @using (Html.BeginForm("ProductList", "Product", FormMethod.Get, new { id = "form1" }))
            {
                <div>
                    Page Size @Html.DropDownList("pageSize") per Page
                </div>
            }
        </div>
    </div>


    <!-- #endregion -->

    <br />
    <div class="col-sm-12">
        <div class="col-sm-2">
            <h4>Product Filters</h4>
            @using (Html.BeginForm("ProductList", "Product", FormMethod.Get))
            {

                <div>
                    Price:<span id="spanOutput"></span>
                    <div id="Slider"></div>
                    <br />
                    <div>
                        <span>
                            @Html.Label("Min"):
                            @Html.TextBox("MinPrice")
                        </span>
                        <br />
                        <span>
                            @Html.Label("Max"):
                            @Html.TextBox("MaxPrice")
                        </span>
                    </div>
                </div>
                <br />
                <div>
                    Category:

                    @Html.Partial("_categoryFilter", ViewData["viewDataDict"] as ViewDataDictionary)

                </div>

                <input class="btn-info" type="submit" value="Apply Filters" />
                @Html.ActionLink("Reset Filters", "ProductList", "Product", null, new { @class = "btn btn-primary" })
                @*@Ajax.ActionLink("Reset", "ResetFilter", "Product",new AjaxOptions { HttpMethod = "POST" });*@
            }
        </div>
        <!-- #region Product List Table -->

        <div class="col-sm-10">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Category.CategoryName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().ProdImg)
                    </th>
                    @*<th>
                       @Html.DisplayNameFor(model => model.First().CreatedBy)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.First().UserId)
                    </th>
                    <th>
                        ACTIONS
                    </th>
                </tr>

                @foreach (var item in Model)
                {


                    using (Html.BeginForm("ProductDelete", "Product", new { id = item.ProductId }, FormMethod.Post))
                    {

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category.CategoryName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>

                                <img src="@Url.Content(item.ProdImg)" height="150" width="250" />
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.CreatedBy)
                            </td>*@

                            <td>
                                @Html.DisplayFor(modelItem => item.User.UserName)
                            </td>
                            <td>

                                @if (HttpContext.Current.Session["UserName"] == null)
                                {
                                    @Html.ActionLink("Edit", "ProductEdit", new { id = item.ProductId });
                                    <text> || </text>
                                    @Html.ActionLink("Details", "ProductDetails", new { id = item.ProductId });
                                    <text> || </text>
                                    <input type="submit" value="delete" onclick="return confirm('Are you sure you want to delete @item.ProductName  ?')" />
                                }
                                else
                                {
                                    @Ajax.ActionLink("AddToCart", "AddToCart", "ShoppingCart", new { id = item.ProductId },
        new AjaxOptions { HttpMethod = "POST", OnSuccess = "fnSuccess" });
                                    <text> || </text>
                                    @Html.ActionLink("Details", "ProductDetails", new { id = item.ProductId });

                                }
                            </td>
                        </tr>
                    }
                }

            </table>
        </div>

        <!-- #endregion -->
    </div>

    <script type="text/javascript">
        function fnSuccess() {
            alert("Added To Cart");
            window.location.reload(true);
        }
    </script>
    <script type="text/javascript">
        $(function () {
            $("#pageSize").change(function () {
                $("#form1").submit();
            });


            var outputSpan = $('#spanOutput');
            var sliderDiv = $('#Slider');
            var MinPrice = $('#MinPrice').val();
            var MaxPrice = $('#MaxPrice').val();

            $('#Slider').slider({
                range: true,
                min: 100,
                max: 9500,

                slide: function (event, ui) {
                    outputSpan.html('Rs. ' + ui.values[0] + '- Rs.' + ui.values[1]);
                },
                stop: function (event, ui) {
                    $('#MinPrice').val(ui.values[0]);
                    $('#MaxPrice').val(ui.values[1]);
                }


            });

            spanOutput.html(sliderDiv.slider('values', 0) + ' - '
                + sliderDiv.slider('values', 1) + ' Years');

            MinPrice = $('#MinPrice').val(sliderDiv.slider('values', 0));

            MaxPrice = $('#MaxPrice').val(sliderDiv.slider('values', 1));

        });



    </script>

    <div>
        @Html.PagedListPager(Model,
                 page => Url.Action("ProductList", new
                     {
                         page,
                         search = Request.QueryString["search"],
                         minPrice = Request.QueryString["MinPrice"],
                         maxPrice = Request.QueryString["MaxPrice"],
                         cateDataQuery = sess,
                         pageSize = ViewBag.psize
                     }
                 ), new PagedListRenderOptions()
                 {

        Display = PagedListDisplayMode.IfNeeded,
        DisplayItemSliceAndTotal = true,
        DisplayPageCountAndCurrentLocation = true

        })

    </div>





