﻿@model  Nimap_Asignment_Codefirst.ViewModels.OrderModel

@*List<Nimap_Asignment_Codefirst.Models.Product>*@

@{
    ViewBag.Title = "My Orders";
    int sum = 0;

}
<div>
    <h2 class="text-center label-info">My Orders</h2>
</div>
<br />
<div class="col-sm-6">
    <table class="table table-bordered col-sm-offset-3">
        <tr>
            <td><b>Name </b></td>
            <td> @HttpContext.Current.Session["UserName"]</td>
        </tr>
        <tr>
            <td>
                <b>Mobile</b>
            </td>
            <td>
                @HttpContext.Current.Session["UserMobile"]
            </td>
        </tr>

    </table>

</div>
<div class="col-sm-12">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.li.First().ProductId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.li.First().ProductName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.li.First().ProdImg)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.li.First().Price)
                </th>

                <th>
                    Remove
                </th>

            </tr>
        </thead>

        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model.li)
                {
                    using (Html.BeginForm("RemoveFromCart", "ShoppingCart", new { id = @item.ProductId }, FormMethod.Post))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>
                            <td>

                                <img src="@Url.Content(item.ProdImg)" height="150" width="250" />
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>

                            <td>

                                <input type="submit" value="Remove" class="glyphicon-remove" />
                            </td>

                        </tr>



                    }
                }

            }
            else
            {
                <tr>
                    <td colspan="4">
                        No Orders Yet!! Click On Browsing
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            @if (Model != null)
            {
                foreach (var p in Model.li)
                {
                    sum = Convert.ToInt32(p.Price) + sum;
                }
                Model.total = sum;
                <tr class="text-center">
                    <td colspan="2"><b class="text-info">Total</b></td>
                    <td>Rs. @Model.total /-</td>
                </tr>
            }
        </tfoot>
    </table>
    <br />

    <div>
        @Html.ActionLink("Print", "CreatePdf", "ShoppingCart", new { sum=Model.total}, new { @class = "btn btn-success" })
        @Ajax.ActionLink("Back to Browsing", "ProductList", "Product", new AjaxOptions { HttpMethod = "GET" })
    </div>
</div>


