﻿@using Microsoft.AspNet.Identity.EntityFramework

@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "RoleList";
}

<h2>Roles List</h2>

<p>
    @Html.ActionLink("Create New Role", "RoleCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        using (Html.BeginForm("RoleDelete", "Role", new { id = item.Id }, FormMethod.Post))
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>

                    @Html.ActionLink("Add User To" + @item.Name + " .", "AddRoleToUsers", new { id = item.Id }) |

                    @Html.ActionLink("Edit", "RoleEdit", new { id = item.Id }) |

                    <input type="submit" value="Delete" onclick="return confirm('Are You Sure You Want To Delete @item.Name?')" />
                </td>
            </tr>
        }
    }

</table>


