﻿@{
    ViewBag.Title = "Home Page";
}

<div>
    <b>Index Page-Home</b>

    @if (Request.IsAuthenticated)
    {

        if (User.IsInRole("Admin"))
        {
            <div class="jumbotron">
                <h2><b>ADMIN</b></h2>
                <h3 class="pull-right text-right"><b>Hi @User.Identity.Name.ToString()</b></h3>
            </div>

            <div class="center-block text-center">
                <h3>
                    You Have Access To Category Mnagement, ,Click Here for Category List @Html.ActionLink("Category", "CategoryList", "Category")
                </h3>
            </div>

            <div class="center-block text-center">
                <h3>
                    You Have Access To Role Mnagement, ,Click Here for Role List @Html.ActionLink("Roles", "RoleList", "Role")
                </h3>
            </div>
        }
        else if (User.IsInRole("Supervisor"))
        {
            <div class="jumbotron">
                <h2 class="text-info"><b>Supervisor</b></h2>
                <h3 class="pull-right text-right"><b>Hi @User.Identity.Name.ToString()</b></h3>
            </div>

            <div class="center-block text-center">
                <h3>
                    You Have Access To Product Management ,Click Here for Product List @Html.ActionLink("Product", "ProductList", "Product")
                </h3>
            </div>
        }
    }
</div>
