﻿@model List<Nimap_Asignment_Codefirst.ViewModels.CategoryVM>
    <div>

        @for (int i = 0; i < Model.Count; i++)
        {

            
            @Html.HiddenFor(modelItem => Model[i].CategoryName)

            <div class="checkbox">

                @Html.CheckBoxFor(modeItem => Model[i].isSelected)
                <span class="text-primary">@Html.DisplayFor(modelItem => Model[i].CategoryName)</span>
                <br />
            </div>
        }

    </div>

