﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body class="col-md-12">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container col-md-12">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>


                    @if (HttpContext.Current.Session["UserName"] != null)
                    {
                        using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            <li>
                                <b class="text-info"> Hello  @Session["UserName"]  !</b>
                            </li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

                        }
                    }
                    else if (Request.IsAuthenticated)
                    {
                        <li class="text-primary">

                            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Logout", "Account")

                        </li>

                        <li class="pull-right">
                            @using (Html.BeginForm("LogOut", "Account", FormMethod.Post))
                            {
                                <input type="submit" value="LogOut" class="btn-link" />
                            }
                        </li>

                    }
                    else
                    {
                        
                            <li>@Html.ActionLink("Register", "Register", "Account")</li>
                            <li>@Html.ActionLink("Log in", "Login", "Account")</li>
                       
                    }


                  


                </ul>
            </div>


        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
    </div>


</body>
</html>
